.parent {
    width: 100vw;
    height: 100vh;
    background-color: #041325;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 600px) {
    .parent {
        height: max-content;
       
        /* Set to a single column for mobile screens */
    }
}